@page
@model Dziennik.Pages.AddObecnoscModel
@{
    ViewData["Title"] = "AddObecnosc";
    Layout = "_LayoutNauczyciel";
}
<br />
<br />
<div>
    <form class="form-horizontal" method="post">
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            Imię
                        </th>
                        <th scope="col">
                            Nazwisko
                        </th>
                        <th scope="col">
                            Obecność
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.uczniowie.ToList())
                    {
                        int type = 3;
                    <tr>
                        <td>@Html.DisplayFor(m => p.imie)</td>
                        <td>@Html.DisplayFor(m => p.nazwisko)</td>
                        @foreach (var o in Model.obecnosci.ToList())
                        {
                            @if ((o.KontoId == p.KontoId) && o.typ_obecnosci == 1)
                            {
                                type = 1;
                            }
                            else if ((o.KontoId == p.KontoId) && o.typ_obecnosci == 2)
                            {
                                type = 2;
                            }
                        }
                        @if (type == 1)
                        {
                            <td>nieobecny</td>
                        }
                        else if (type == 2)
                        {
                            <td>spóźniony</td>
                        }
                        else
                        {
                        <td>
                            <a asp-page="ObecnoscHelper" asp-route-UczenId="@p.KontoId" asp-route-LekcjaId="@Model.lekcja_id" asp-route-ob="1">Nieobecny  |  </a>
                            <a asp-page="ObecnoscHelper" asp-route-UczenId="@p.KontoId" asp-route-LekcjaId="@Model.lekcja_id" asp-route-ob="2">Spóźniony</a>
                        </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" style="margin-top: 10px;">
                <button class="btn btn btn-primary">Zatwierdź</button>
            </div>
        </div>
    </form>
</div>