@page
@model Dziennik.Pages.AllClassesModel
@{
    ViewData["Title"] = "Wybór klasy";
    Layout = "_LayoutAdmin";
}

<br />
<br />

<div class="card" id="filtr">
    <form method="post">
        <tr>
            <td class="col-10">
                <label>Filtruj </label>
                <label>Numer klasy: </label>
                <input type="text" placeholder="IIF" asp-for="@Model.findClass" />
                <label> Nauczyciel: </label>
                <input type="text" placeholder="Jan Nowak" asp-for="@Model.findTeacher" />
            </td>
            <td class="col-1">
                <button class="btn btn btn-primary">Filtruj</button>
            </td>
        </tr>
    </form>
</div>

<div class="card">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Klasa
                </th>
                <th scope="col">
                    Wybór
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var k in Model.klasy.ToList())
            {
                <tr>
                    <td>@Html.DisplayFor(m => k.nazwa)</td>
                    <td>
                        <a asp-page="./EditClass" asp-route-id="@k.Id_klasy" class="btn btn-warning" style="margin:10px">Zmień numer klasy</a>
                        <a asp-page="./EditClassStudents" asp-route-id="@k.Id_klasy" class="btn btn-outline-info" style="margin:10px">Uczniowie w klasie</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    #filtr {
        height: 50px;
        padding: 5px;
        align-content: flex-end;
    }
</style>