@page
@model Dziennik.Pages.AllUsersModel
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Zarządzanie uczniami";
}

<br />
<br />
<div class="card">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Imię i nazwisko</th>
                <th scope="col">Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.uczniowie.ToList())
            {
            <tr>
                @if (p.Konto.active == 2)
                {
                    <td style="text-decoration:line-through"><b>@Html.DisplayFor(m => p.imie) @Html.DisplayFor(m => p.nazwisko)</b></td>
                }
                else
                {
                    <td>@Html.DisplayFor(m => p.imie) @Html.DisplayFor(m => p.nazwisko)</td>
                }
                <td>
                    <a asp-page="./EditStudent" asp-route-id="@p.Id_ucznia" class="btn btn-warning">Edytuj dane</a>
                    @if (p.Konto.active == 1)
                    {
                        <a asp-page="./BlockStudent" asp-route-id="@p.Id_ucznia" asp-route-type="1" class="btn btn-danger" style="margin:10px">Blokuj ucznia</a>
                    }
                    else
                    {
                        <a asp-page="./BlockStudent" asp-route-id="@p.Id_ucznia" asp-route-type="2" class="btn btn-info" style="margin:10px">Odblokuj ucznia</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>