@page
@model Dziennik.Pages.AllUsersModel
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Zarządzanie uczniami";
}

<br />
<br />

<div class="card" id="filtr">
    <form method="post">
        <tr>
            <td class="col-10">
                <label>Filtruj </label>
                <label>Imie ucznia: </label>
                <input type="text" placeholder="Jan Nowak" asp-for="@Model.findUser" />
            </td>
            <td class="col-1">
                <button class="btn btn btn-primary">Filtruj</button>
            </td>
        </tr>
    </form>
</div>

<div class="card">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Imię i nazwisko</th>
                <th scope="col">Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.uczniowie.ToList())
            {
            <tr>
                @if (p.active == 2)
                {
                    <td style="text-decoration:line-through"><b>@Html.DisplayFor(m => p.imie) @Html.DisplayFor(m => p.nazwisko)</b></td>
                }
                else
                {
                    <td>@Html.DisplayFor(m => p.imie) @Html.DisplayFor(m => p.nazwisko)</td>
                }
                <td>
                    <a asp-page="./EditStudent" asp-route-id="@p.KontoId" class="btn btn-warning">Edytuj dane</a>
                    @if (p.active == 1)
                    {
                        <a asp-page="./BlockStudent" asp-route-id="@p.KontoId" asp-route-type="1" class="btn btn-danger" style="margin:10px">Blokuj ucznia</a>
                    }
                    else
                    {
                        <a asp-page="./BlockStudent" asp-route-id="@p.KontoId" asp-route-type="2" class="btn btn-info" style="margin:10px">Odblokuj ucznia</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<style>
    #filtr {
        height: 50px;
        padding: 5px;
        align-content: flex-end;
    }
</style>