@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
}

<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => Model.uczniowie_test[0].Id_ucznia)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => Model.uczniowie_test[0].imie)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => Model.uczniowie_test[0].nazwisko)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => Model.uczniowie_test[0].Ocena)
            </th>
            <th scope="col">Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.uczniowie_test.ToList())
        {
            <tr>
                <th scope="row">@Html.DisplayFor(m => p.Id_ucznia)</th>
                <td>@Html.DisplayFor(m => p.imie)</td>
                <td>@Html.DisplayFor(m => p.nazwisko)</td>
                <td>

                    @foreach (var u in p.Ocena.ToList())
                    {
                        <a asp-page="./EditMark" asp-route-id="@u.Id_oceny" class="btn btn btn-primary">@Html.DisplayFor(m => u.ocena)</a>
                    }
                </td>
                <td>
                    <a asp-page="AddMark" asp-route-id=@p.Id_ucznia>Dodaj ocenę</a>
                </td>
            </tr>
        }
    </tbody>
</table>