

@page
@model Dziennik.Pages.ListaWiadomosciModel
@{
    ViewData["Title"] = "Lista Wiadomości";
    if (Model.typ_uzytkownika == 1)
    {
        Layout = "_LayoutNauczyciel";
    }
    else if (Model.typ_uzytkownika == 2)
    {
        Layout = "_LayoutUczen";
    }
}

    <div class="card" style="background: transparent !important; text-align: center; border: none !important;">
        <h1>Skrzynka wiadomości</h1>
        @if (Model.wiadomosci_odebrane.Count != 0)
        {
            <h2>Odebrane:</h2>

            @foreach (var w in Model.wiadomosci_odebrane.ToList())
            {
                <div class="card" style="width: 100%; margin-bottom: 1rem; background-color: gold">
                    <div class="card-body">
                        <h4 class="card-title">@w.tytul</h4>
                        <h5 class="card-subtitle mb-2 text-muted">@w.data_wyslania</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@w.tresc</h6>
                        <p class="card-text">@w.konto_nadawcy.imie @w.konto_nadawcy.nazwisko</p>
                        <form method="post">
                            <button asp-route-id="@w.Id_wiadomosci" class="btn btn-danger">Usuń</button>
                        </form>
                    </div>
                </div>
            }
        }
        else
        {
            @*<h2>Brak wiadomości odebranych:</h2>
            <img src="~/images/emptyPostbox.png" />*@

            <div class="container">
                <img src="~/images/emptyPostbox.png" alt="Postbox" class="image">
                <div class="middle">
                    <div class="text">Brak wiadomości odebranych:</div>
                </div>
            </div>
        }

        @if (Model.wiadomosci_wyslane.Count != 0)
        {
            <h2>Wysłane:</h2>

            @foreach (var w in Model.wiadomosci_wyslane.ToList())
            {
                <div class="card" style="width: 100%; margin-bottom: 1rem; background-color: gold">
                    <div class="card-body">
                        <h4 class="card-title">@w.tytul</h4>
                        <h5 class="card-subtitle mb-2 text-muted">@w.data_wyslania</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@w.tresc</h6>
                        <p class="card-text">@w.konto_odbiorcy.imie @w.konto_odbiorcy.nazwisko</p>
                        <form method="post">
                            <button asp-route-id="@w.Id_wiadomosci" class="btn btn-danger">Usuń</button>
                        </form>
                    </div>
                </div>
            }
        }
        else
        {
    <div class="container">
        <img src="~/images/emptyPostbox.png" alt="Avatar" class="image" style="width:100%">   
            <div class="middle">
                <div class="text">
                    Brak wiadomości wysłanych
                    <a class="message" href="/NowaWiadomosc" >Wyślij nową wiadomość</a>
                </div>  
            </div>
            </div>
        }

    </div>
