@page
@model Dziennik.Pages.NieobecnosciKlasyModel
@{
    Layout = "_LayoutNauczyciel";
    ViewData["Title"] = "NieobecnosciKlasy";
}

<br />
<br />
<div class="card">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Uczniowie
                </th>
                <th scope="col">
                    Nieobecności
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.uczniowie.ToList())
            {
                <tr>
                    <td>@Html.DisplayFor(m => p.imie) @Html.DisplayFor(m => p.nazwisko)</td>
                    <td>
                        @foreach (var o in Model.obecnosci.ToList())
                        {
                            if (p.KontoId == o.Konto.KontoId)
                            {
                                if (o.typ_obecnosci == 1)
                                {
                                    <a asp-page="./EditObecnosc" asp-route-id="@o.ObecnoscId" class="ocena_przycisk">nb</a>
                                }
                                else if (o.typ_obecnosci == 2)
                                {
                                    <a asp-page="./EditObecnosc" asp-route-id="@o.ObecnoscId" class="ocena_przycisk">sp</a>
                                }
                                else if (o.typ_obecnosci == 3)
                                {
                                    <a asp-page="./EditObecnosc" asp-route-id="@o.ObecnoscId" class="ocena_przycisk">usp</a>
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
