@page
@model Dziennik.Pages.UsersListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutNauczyciel";
}

<br />
<br />
<div class="card">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Ocena</th>
                <th scope="col">Średnia ocen</th>
                <th scope="col">Ocena końcowa</th>
                <th scope="col">Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.uczniowie.ToList())
            {
                double srednia = 0;
                int ilosc = 0;
                string ocena_koncowa = "";
                int id_oceny_koncowej = 1;
            <tr>
                <td>@Html.DisplayFor(m => p.imie)</td>
                <td>@Html.DisplayFor(m => p.nazwisko)</td>
                <td>
                    @if (p.Oceny.ToList() != null)
                    {
                        @foreach (var u in p.Oceny.ToList())
                        {
                            if (u.koncowa == 2)
                            {
                                ocena_koncowa = u.wartosc;
                                id_oceny_koncowej = u.OcenaId;
                            }
                            else
                            {
                                ilosc++;
                                if ((u.wartosc).Contains('+'))
                                {
                                    if (u.wartosc == "1+") { srednia += 1.5; }
                                    if (u.wartosc == "2+") { srednia += 2.5; }
                                    if (u.wartosc == "3+") { srednia += 3.5; }
                                    if (u.wartosc == "4+") { srednia += 4.5; }
                                    if (u.wartosc == "5+") { srednia += 5.5; }
                                }
                                else if ((u.wartosc).Contains('-'))
                                {
                                    if (u.wartosc == "2-") { srednia += 1.75; }
                                    if (u.wartosc == "3-") { srednia += 2.75; }
                                    if (u.wartosc == "4-") { srednia += 3.75; }
                                    if (u.wartosc == "5-") { srednia += 4.75; }
                                    if (u.wartosc == "6-") { srednia += 5.75; }
                                }
                                else { srednia += Convert.ToDouble(u.wartosc); }
                                if (u.wartosc[0] == '1')
                                {
                                    <a asp-page="./EditMark" asp-route-id="@u.OcenaId" asp-route-class_Id="@Model.classId" asp-route-subject_Id="@Model.subjectId" asp-route-type="@u.koncowa" class="ocena_przycisk" style="background-color: red">@Html.DisplayFor(m => u.wartosc)</a>
                                }
                                else if (u.wartosc[0] == '2')
                                {
                                    <a asp-page="./EditMark" asp-route-id="@u.OcenaId" asp-route-class_Id="@Model.classId" asp-route-subject_Id="@Model.subjectId" asp-route-type="@u.koncowa" class="ocena_przycisk" style="background-color: #ff5500">@Html.DisplayFor(m => u.wartosc)</a>
                                }
                                else if (u.wartosc[0] == '6')
                                {
                                    <a asp-page="./EditMark" asp-route-id="@u.OcenaId" asp-route-class_Id="@Model.classId" asp-route-subject_Id="@Model.subjectId" asp-route-type="@u.koncowa" class="ocena_przycisk" style="background-color: green;">@Html.DisplayFor(m => u.wartosc)</a>
                                }
                                else
                                {
                                    <a asp-page="./EditMark" asp-route-id="@u.OcenaId" asp-route-class_Id="@Model.classId" asp-route-subject_Id="@Model.subjectId" asp-route-type="@u.koncowa" class="ocena_przycisk">@Html.DisplayFor(m => u.wartosc)</a>
                                }
                            }
                        }
                    }
                </td>
                <td>
                    @{
                        if (srednia == 0 || ilosc == 0)
                        {
                            <p>-</p>
                        }
                        else
                        {
                            if ((srednia / ilosc) < 2)
                            {
                                <p style="color: red; font-weight: bold;">@Math.Round((srednia / ilosc), 2)</p>
                            }
                            else
                            {
                                <p>@Math.Round((srednia / ilosc), 2)</p>
                            }
                        }
                    }
                </td>
                @if (ocena_koncowa == "")
                {
                    <td>
                        <p>-</p>
                    </td>
                    <td>
                        <a asp-page="AddMark" asp-route-UczenId="@p.KontoId" asp-route-ClassId="@Model.classId" asp-route-SubjectId="@Model.subjectId" asp-route-type="1" class="btn btn-warning" style="margin:10px">Dodaj ocenę</a>
                        <a asp-page="AddMark" asp-route-UczenId="@p.KontoId" asp-route-ClassId="@Model.classId" asp-route-SubjectId="@Model.subjectId" asp-route-type="2" class="btn btn-success" style="margin:10px">Wystaw ocenę końcową</a>
                    </td>
                }
                else
                {
                    <td>
                        <p>@ocena_koncowa</p>
                    </td>
                    <td>
                        <a asp-page="AddMark" asp-route-UczenId="@p.KontoId" asp-route-ClassId="@Model.classId" asp-route-SubjectId="@Model.subjectId" asp-route-type="1" class="btn btn-warning" style="margin:10px">Dodaj ocenę</a>
                        <a asp-page="EditMark" asp-route-id="@id_oceny_koncowej" asp-route-class_Id="@Model.classId" asp-route-subject_Id="@Model.subjectId" asp-route-type="2" class="btn btn-warning" style="margin:10px">Edytuj ocenę końcową</a>
                    </td>
                }
            </tr>
                }
        </tbody>
    </table>
</div>