@page
@model Dziennik.Pages.WyborKlasyModel
@{
    ViewData["Title"] = "WyborKlasy";
    Layout = "_LayoutNauczyciel";
}
<br />
<br />
<div class="card">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Przedmiot
                </th>
                <th scope="col">
                    Klasa
                </th>
                <th scope="col">
                    Wybór
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var n in Model.nauczania.ToList())
            {
                @foreach (var l in n.Lekcje.ToList())
                {
                    <tr>
                        <td>@Html.DisplayFor(m => n.Przedmiot.nazwa)</td>
                        <td>@Html.DisplayFor(m => l.Nauczanie.Klasa.nazwa)</td>
                        <td>
                            @if (Model.type == 2)
                            {<a asp-page="./UsersList" asp-route-ClassId="@l.Nauczanie.KlasaId" asp-route-SubjectId="@n.PrzedmiotId" class="btn btn btn-primary">Wybór</a>}
                            @if (Model.type == 1)
                            {<a asp-page="./AddWydarzenie" asp-route-ClassId="@l.Nauczanie.KlasaId" asp-route-SubjectId="@n.PrzedmiotId" class="btn btn btn-primary">Wybór</a>}
                            @if (Model.type == 3)
                            {<a asp-page="./AddObecnosc" asp-route-LekcjaId="@l.LekcjaId" class="btn btn btn-primary">Wybór</a>}
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<style >
    
</style>