@page
@model Dziennik.Pages.Login.MyAccountModel
@{
    ViewData["Title"] = "MyAccount";
}
<h2>MyAccount</h2>
<h3>@Model.konto.login</h3>
<h3>@Model.konto.email</h3>
<h3>@Model.imie</h3>
<h3>@Model.nazwisko</h3>
<h3>@Model.adres</h3>
<h3>@Model.pesel</h3>

